* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "inter", sans-serif;
  background-color: hsl(0, 0%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  flex-direction: column;
}

main {
  max-width: 375px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  
}

/* Main card container*/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.profile-card {
  background-color: hsl(0, 0%, 12%);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  width: 23.4375rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.name {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.location {
  color: hsl(67, 88%, 49%);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.bio {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: hsl(0, 2%, 74%);
}

/*Social Links*/
.social-links {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.social-btn {
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s;
}

.social-btn:hover {
  background-color: hsl(67, 88%, 49%);
}

/* Attribution */
.attribution {
  margin-top: 2rem;
  font-size: 0.875rem;
  text-align: center;
  color: hsl(0, 0%, 42%);
}

.attribution a {
  color: hsl(67, 88%, 49%);
}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
